header.banner{
    background-color: #0000009e !important;
}

a.banner{
    color: white;   
}

li.list{
    padding-bottom: 20px;
    line-height: 4.2rem;
}

div.title{
    background-color: #0000009e;
    /* border-radius: 17px; */
    margin-left: 5%;
    width: 55rem;
}

.pasos li span {
    font-size: 6.4rem;
    margin: 0 auto .8rem;
}

.pasos li span {
    font-size: 6.4rem;
    margin: 0 auto .8rem;
}

.pasos li span {
    font-size: 6.4rem;
    margin: 0 auto .8rem;
}

.pasos li h2{
    margin: auto;
    text-align: center;
    margin-top: 1.8rem;
}